<div class='show-container' id='show-container-<%=imdbID%>'>
    <div class="movie-title"><i onclick="removeShow('<%=imdbID%>')"class='fa fa-times'></i> <%=Title%></div>
    <p><strong><%=Rated%></strong><br><%=Released%></p>

    <div class="flex">
        <div>
            <img class="movie-poster" src="<%=Poster%>" />
        </div>
        <div class="info-container">
            <h4>Critics Consensus:</h4>
            <p><%=tomatoConsensus%></p>

            <div class="scores-container">
                <span>Metascore: <%=Metascore%></span>
                <span>-</span>
                <span>Tomatometer: <%=tomatoMeter%>%
                </span>
            </div>

        </div>
    </div>
</div>
