<div class='show-container' id='show-container-<%=imdbID%>'>
    <div class="flex-container">
        <div style="margin-right: 2em;">
            <div class="movie-title"><i onclick="removeShow('<%=imdbID%>')"class='fa fa-times'></i> <%=Title%>
                <div>
                    <span><%=Released%></span>
                    <span>-</span>
                    <span><%=Rated%></span>
                </div>
            </div>

            <img src="<%=Poster%>" />
        </div>
        <div id="info-container">
            <h4>Critics Consensus:</h4>
            <p><%=tomatoConsensus%></p>

            <div id="scores-container">
                <span>Metascore: <%=Metascore%></span>
                <span>-</span>
                <span>Tomatometer: <%=tomatoMeter%>%
                </span>
            </div>



        </div>
    </div>
    <hr>
</div>
