<div class='show-container' id='show-container-<%=imdbID%>'>
    <div class="flex-container">
        <div style="margin-right: 2em;">
            <h3><i onclick="removeShow(<%=imdbID%>)"class='fa fa-times'></i> <%=Title%> </h3>
            <img src="<%=Poster%>" />
        </div>
        <div style="max-width: 50%;">
            <p><%=Plot%></p>
            <h3>Metascore: <%=Metascore%></h3>
            <h3><%=Released%></h3>
            <h3><%=Rated%></h3>

        </div>
    </div>
    <hr>
</div>
